@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I worked hard on this project, and I'm proud of my efforts.</p>
    <p>I hope that you will give me a good grade. :)</p>
</div>
