@page
@model Lesson_13.Pages.Teacher.EditModel
@{
}
@if(Model.IsSuccess)
{
    <p>
        @Model.SuccessMessage
    </p>
    <p>
        <a asp-page="./Edit">Add a New Teacher</a>
    </p>
}
else
{
    <form method="post">
        <div asp-asp-validation-summary="All"></div>
        <input asp-for="TeacherId" type="hidden" />
        <div class="form-group">
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" class="form-control" maxlength="50" /><br />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" class="form-control" maxlength="50" /><br />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
}