@page
@model Lesson_13.Pages.Exam.EditModel
@{
}
@if(Model.IsSuccess)
{
    <p>
        @Model.SuccessMessage
    </p>
    <p>
        <a asp-page="./Edit">Add a New Exam</a>
    </p>
}
else
{
    <form method="post">
        <div asp-asp-validation-summary="All"></div>
        <input asp-for="ExamId" type="hidden" />
        <div class="form-group">
            <label asp-for="StudentId"></label><br />
            <select asp-for="StudentId" class="form-select" asp-items="Model.StudentOptions"></select><br />
            <span asp-validation-for="StudentId"></span>
        </div>
        <div class="form-group">
            <label asp-for="Score"></label><br />
            <input asp-for="Score" class="form-control" /><br />
            <span asp-validation-for="Score"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
}