@page
@model Lesson_09.Pages.CustomerModel
@{
}
@if (Model.IsSuccess)
{
    <p>
        You Created: @Model.FirstName @Model.LastName<br />
        @Model.BusinessName (BusinessType @Model.BusinessType)
    </p>
}
else
{
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" class="form-control" /><br />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" class="form-control" /><br />
        </div>
        <div class="form-group">
            <label asp-for="BusinessName"></label><br />
            <input asp-for="BusinessName" class="form-control" /><br />
        </div>
        <div class="form-group">
            <label asp-for="BusinessType"></label><br />
            <select asp-for="BusinessType" class="form-select" asp-items="Model.BusinessTypeOptions"></select><br />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
}
